* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*------ CSS Variables -----*/
:root {
    --gradientPrimary: linear-gradient(80.79deg, #ff2599 0%, #ef233c 100%);
    --primary: rgb(239, 35, 60);
    --dark: rgb(43, 45, 66);
    --light: rgb(237, 242, 244);
    /* --accent: rgb(217, 4, 41);
    --accent-2: rgb(141, 153, 174);
    --success: rgb(76, 224, 109); */
}

/* color: #c94b4b, #3f2b96 */

/* ------ Navbar Styles ------ */

.navbar {
    position: fixed;
    width: 100%;
}

.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

.nav-a {
    float: right;
    display: block;
    color: rgb(27, 25, 25);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-a:hover:not(.active) {
    background-color: rgb(78, 80, 105);
    color: rgb(230, 220, 220);
}

.active {
    background-color: rgb(43, 45, 66);
    color: rgb(238, 228, 228);
}

.nav-title {
    color: rgb(31, 28, 28);
    padding: 14px 16px;
    float: left;
}


/* ------ Hero Styles ------ */

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



/* ------ About me Styles ------ */
#about-me {
    height: 200vh;
}

.aboutme-sec {
    align-items: center;
    width: 90vw;
    display: grid;
    grid-template-columns: 35vw auto;
}

.aboutme-img-1 {
    width: 25vw;
    margin: auto auto;
}

.aboutme-txt-1 {
    text-align: justify;
    width: 60vw;
    line-height: 1.7em;
}

.boutme-sec-b {
    align-items: center;
    width: 90vw;
    display: grid;
    grid-template-columns: auto 35vw;
}

/* ------ Experience Styles ------ */

section {
    height: 100vh;
    padding: 65px 2em;
}

.sec-title {
    color: rgb(43, 45, 66);
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.card-project {
    width: 28vw;
    background: rgb(43, 45, 66);
    color: white;
    padding: 1em;
    border-radius: 10px;
}

.card-item {
    margin-bottom: 5px;
    margin-top: 5px;
}

/* ------ Contact me Styles ------ */

.contact-flex {
    display: flex;
    height: 100%;
    align-items: center;
}

.contact-box {
    width: 50%;
}

form {
    text-align: center;
}

.label-contact {
    text-align: left;
}

.input {
    border-radius: 5px;
    padding: .7em 3em;
    margin-top: 1em;
    width: 100%;
}

.line-form {
    padding: 1em;
    padding-right: 2em;
}

#btn-form {
    background: linear-gradient(90deg, #ad0050 0%, #e83b51 100%);
    color: white;
    font-size: 1em;
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
}

.social-box {
    display: grid;
    grid-template-columns: auto auto;
}

.social-img {
    width: 25%;
    margin: 1vw;
}